:root {
  --theme-color1: #bf5700;
  --theme-color2: #bf5700;
  --theme-color3: #579d42;
}

a {
  color: var(--theme-color1);
}

body {
  font-size: 115% !important;
  line-height: 1.7;
}

.sidebar-book a,
.sidebar-chapter a {
  /* color: #9cadb7; */
  color: darkgray;
  /* color: #333f48; */
  font-size: 115% !important;
}

.sidebar-book:hover a,
.sidebar-chapter:hover a {
  color: var(--theme-color1);
}

.sidebar-book a.active {
  color: var(--theme-color1);
}
.sidebar-chapter a.active {
  /* color: var(--theme-color1); */
  /* background-color: transparent !important; */
  /* font-weight: bold !important; */
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h5 {
  font-weight: bold !important;
  /* font-size: 120% !important; */
}

h1 a[title] {
  color: var(--theme-color2);
}

.container-fluid > .row {
  margin-top: 1.8em;
}

.sidebar-book,
.sidebar-chapter {
  position: relative;
  overflow-y: visible;
  max-height: none;
}

#main-nav,
#toc {
  position: sticky;
  top: 1.8em;
}

/* references */
.csl-entry {
  margin-bottom: 1em;
}

/* footer */
.bg-primary {
  background-color: var(--theme-color2) !important;
}

.thesis-cover p {
  text-align: center;
}
.thesis-cover img {
  width: 95%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.byline {
  margin-top: 2em;
}
